{% extends '../CasoAbogados/index.html' %}
{% block title %} PG | Login {% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 0px; margin-top: 0px; width: 5000px; height: 1000px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <form method="post" class="form-login">
              <h2 class="text-center">Iniciar sesión</h2>
              {% csrf_token %}
              {{ form.as_p }}
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="userTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccionar tipo de usuario
                </button>
                <div class="dropdown-menu" aria-labelledby="userTypeDropdown">
                  <a class="dropdown-item" href="#" data-value="Abogado">Abogado</a>
                  <a class="dropdown-item" href="#" data-value="Cliente">Cliente</a>
                </div>
              </div>
              <input type="hidden" id="selectedUserType" name="selectedUserType" value="">
              <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const dropdownItems = document.querySelectorAll('.dropdown-item');

  dropdownItems.forEach(function(item) {
    item.addEventListener('click', function() {
      const selectedUserType = item.getAttribute('data-value');
      document.getElementById('selectedUserType').value = selectedUserType;
      document.getElementById('userTypeDropdown').textContent = `Seleccionado: ${selectedUserType}`;
    });
  });
});
</script>
{% endblock %}