{% extends '../index.html' %}

{% block title %}Gestión de Caso{% endblock %}

{% block body %}
<section style="background-color: gray; background-image: url(https://www.pjud.cl/img/corte_suprema/fotogrande_5_6050000.jpg); background-repeat:no-repeat;
background-size: cover;
background-repeat:no-repeat;
background-position: center center;
background-attachment: fixed;">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <strong class="text-light">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <h1 class="text-center text-light">Listado de Casos</h1>
        <h1 class="text-center text-light">{{ user.username }}</h1>

        <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'nuevocaso' %}" class="btn btn-primary">Agregar Caso</a>
        </div>

        <div class="table-responsive mt-3">
          <table class="table table-striped" style="background-color: rgb(255, 255, 255);">
            <thead>
              <tr>
                <th>ID</th>
                <th>Rut del Abogado</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for caso in Caso %}
              <tr>
                <td>{{ caso.ID_caso }}</td>
                <td>{{ caso.rut }}</td>
                <td>{{ caso.titulo }}</td>
                <td>{{ caso.descripcion }}</td>
                <td>{{ caso.fecha_creacion }}</td>
                <td><a href="{% url 'editarcaso' caso.ID_caso %}" class="btn btn-primary">Editar</a></td>
                <td><a href="{% url 'borrarcaso' caso.ID_caso %}" class="btn btn-danger btn-Eliminacion">Eliminar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
